<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8"/>
      <title>ExtraWordinary</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_files/styles.css')}}"/>
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
   </head>
   <body>
      <!-- Here is our main header that is used across all the pages of our website -->
      <h1><a href = "{{ url_for('home') }}">Extra<span id="w">W</span>ordinary!</a></h1>
      <div class="wrapper">
         <div class="main">
            <form action="#" class="search-bar" method="post">
               <input type="search" name="search" pattern=".*\S.*" required>
               <button class="search-btn" type="submit">
               <span>Search</span>
               </button>
            </form>
         </div>
      </div>
	  <div class="desc">
		<p>
		Given an input word in English, this search engine displays its definitions, its frequency in the language and a list of words that rhyme with it, antonyms and synonyms.

		</p>
		
				<p>

		Usage: Just click the magnifier icon and type a word in English. Then press the "Enter" key or click the magnifier icon again.
		</p>
      </div>
      <div class="footer">
         <p>© 2020 Copyright: <a href = "mailto: nir9696@gmail.com"> Nir Ki-tov </a></p>
      </div>
   </body>
</html>

